/* responsive for 0-1805px */
@media screen and (max-width:1805px) {
   .main-chat_lists{
      gap: 1.2rem !important;
   }
   .main-chat_posts{
      width: 32% !important;
   }
}

/* responsive for 0-1457px */
@media screen and (max-width:1457px) {
   .container{
      width: 90% !important;
   }
}

/* responsive for 0-1375px */
@media screen and (max-width:1375px) {
   .main-chat_posts{
      width: 32% !important;
      min-width: 200px !important;
   }
   .post-count{
      font-size: 1rem !important;
   }
   .post-check{
      font-size: 1.2rem !important;
   }
}