/* responsive for 0-1065px */
@media screen and (max-width:1065px) {
   .main-chat_posts{
      width: 48% !important;
   }
   .main-section_about{
      width: 70% !important;
   }
   .main-section-about_head{
      font-size: 1.2rem !important;
   }
   .main-section-about_desc{
      font-size: 1rem !important;
      line-height: 1.4rem;
   }
   .main-contact_admin{
      width: 20rem !important;
      height: 20rem !important;
   }
}

/* responsive for 0-1000px */
@media screen and (max-width:1000px) {
   .sign-main_section{
      width: 95% !important;
      padding: 1.2rem !important;
   }
   .navbar-info_head{
      font-size: 2rem !important;
   }  
   .notification{
      font-size: 1.1rem !important;
   }
   .icon-hourglass-1{
      font-size: 2rem !important;
   }
   .main-head_text{
      font-size: 1.4rem !important;
   }
   .request-head{
      font-size: 1.3rem !important;
   }
   .request-users{
      font-size: .97rem;
   }
   .half-option-user_desc{
      font-size: 1.10rem;
   }
}

/* responsive for 0-846px */
@media screen and (max-width:846px) {
   .sign-header_title{
      font-size: 1.6rem !important;
   }
   .sign-form-item_head{
      font-size: 1.1rem !important;
   }
   .sign-form-item_input{
      font-size: 1rem !important;
   }
   .sign-form-section_others{
      font-size: .80rem !important;
   }
   .btn-git{
      display: none !important;
   }
   .sign-form_btn svg{
      width: 5% !important;
      height: 2rem !important;
      min-height: 2rem;
   }
}

/* responsive for 0-760px */
@media screen and (max-width:760px) {
   .main-chat_posts{
      width: 100% !important;
   }
}

/* responsive for 0-726px */
@media screen and (max-width:726px) {
   .sign-form_btn svg{
      width: 5% !important;
      height: 1.5rem !important;
      min-height: 1.5rem;
   }
   .btn-submit{
      font-size: 1.4rem !important;
   }
   .main-section_about{
      width: 90% !important;
   }
   .content{
      width: 90% !important;
   }
}